openapi: 3.0.0
info:
  version: v1
  title: OMNA Commerce API
  termsOfService: 'https://cenit.io/terms'
  contact:
    email: hello@omna.io
    url: 'https://cenitio.slack.com/messages/support'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: omna_logo.png
  description: >
    # Introduction

    * The OMNA Commerce API is built over REST services on HTTPS.

    * It has predictable resource URLs.

    * It returns HTTP response codes to indicate errors.

    * It accepts and returns JSON in the HTTP body.

    * You can use your favorite HTTP/REST library for your programming language
    to use OMNA Commerce API.

tags:
  - name: Integrations
    description: |
      The term integration refers to resource set on which is possible operate, updated with the latest information,
      and consolidating information into a single processing workflow.

      The available integrations are Lazada, Shopee.

  - name: Orders
    description: |
      Operations about orders

  - name: Flows
    description: >
      Operations about flows.

      The flows allow to user configure a set of predetermined tasks to run on an integration. These tasks can be
      executed manually or automated through the configuration and activation of their schedulers. For example,
      the user can want to receive products form an integration 1 and orders form another integration.

  - name: Webhooks
    description: |
      A webhook is a hook through which a notification is sent to a URL of user choice when a certain event occurs.
      They allow to receive real-time HTTP notifications of changes to specific objects. Webhooks facilitate syncing
      and relaying data between two endpoints.

  - name: Tasks
    description: |
      Each of the actions that make up the api generate one or more tasks when are process. In the details of the task
      we can find information about the processing triggered by the action like status, fulfillment %, notifications, etc.

  - name: Users
    description: |
      User represent a person or a company, it is a user in Cenit System.

servers:
  - url: 'https://cenit.io/app/ecapi-v1'

security:
  - Token: []
    Timestamp: []
    HMac: []